@font-face {
  font-family: "MuseoSans";
  src: local("MuseoSans"), url("./fonts/MuseoSans_900.otf") format("opentype");
}

@font-face {
  font-family: "MuseoSans-100";
  src: local("MuseoSans-100"),
    url("./fonts/MuseoSans-100.otf") format("opentype");
}

@media only screen and (min-width: 992px) {
  .background {
    display: flex;
  }
  .font-face-bg1 {
    font-family: "MuseoSans";
    font-weight: bold;
  }
  .bg-1 {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left: 68%;
    padding: 70px 70px 0;
    height: 100vh;
  }
  .bg-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eef9bf;
    width: 80vw;
    height: 100vh;
  }
  .bg-2-number {
    margin-left: 75%;
    color: #555a3e;
    font-family: "MuseoSans-100";
  }
  .bg-2-image {
    margin-left: 31%;
    max-width: 100%;
  }
  .samsung-image {
    height: auto;
    width: 30%;
  }
  .bg-2-proj {
    margin-left: 70.5%;
    color: #555a3e;
    font-family: "MuseoSans-100";
  }
  .bg-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #a7e9af;
    width: 80vw;
    height: 100vh;
  }
  .bg-3-number {
    margin-left: 75%;
    color: #3a7639;
    font-family: "MuseoSans-100";
  }
  .bg-3-image {
    margin: 5.5% 0;
    margin-left: 14%;
    max-width: 100%;
  }
  .laptop-image {
    height: auto;
    width: 63%;
  }
  .bg-3-proj {
    margin-left: 71.5%;
    color: #3a7639;
    font-family: "MuseoSans-100";
  }
  .bg-4-footer {
    background-color: #222222;
    color: grey;
    display: flex;
    align-items: center;
    padding-left: 25%;
    font-family: "MuseoSans-100";
    font-size: 80%;
    height: 10vh;
    letter-spacing: 1pt;
  }
  .icon {
    display: inline-block;
    height: 35px;
    width: 36px;
    background-size: cover;
  }
  .icon-instagram {
    background-image: url("./images/instagram1.png");
    background-repeat: no-repeat;
    transition: 0.3s ease;
  }
  .icon-instagram:hover,
  .icon-instagram:focus {
    background-image: url("./images/instagram2.png");
  }
  .icon-linkedin {
    background-image: url("./images/linkedin1.png");
    margin-left: 20px;
    transition: 0.3s ease;
  }
  .icon-linkedin:hover,
  .icon-linkedin:focus {
    background-image: url("./images/linkedin2.png");
  }
  .icon-github {
    background-image: url("./images/github1.png");
    margin-left: 20px;
    transition: 0.3s ease;
  }
  .icon-github:hover,
  .icon-github:focus {
    background-image: url("./images/github2.png");
  }
  .button {
    background-color: #3b80fe;
    display: flex;
    justify-content: center;
    max-width: 250px;
    border-radius: 50px;
    font-family: "MuseoSans-100";
    color: white;
    letter-spacing: 1px;
    margin-top: 30px;
    transition: 0.3s;
  }
  .button:hover {
    background-color: #234ef3;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .background {
    display: flex;
    flex-direction: column;
  }
  .font-face-bg1 {
    font-family: "MuseoSans";
    font-weight: bold;
  }
  .bg-1 {
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
    padding: 70px;
  }
  .bg-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 0;
    background-color: #eef9bf;
    width: 100%;
    height: 100%;
  }
  .bg-2-number {
    margin-left: 7%;
    color: #555a3e;
    font-family: "MuseoSans-100";
  }
  .bg-2-image {
    margin-left: 35%;
    max-width: 100%;
  }
  .samsung-image {
    height: auto;
    width: 50%;
  }
  .bg-2-proj {
    margin-left: 7%;
    color: #555a3e;
    font-family: "MuseoSans-100";
  }
  .bg-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #8ef592;
    padding: 5% 0;
    width: 100%;
    height: 100%;
  }
  .bg-3-number {
    margin-left: 7%;
    color: #3a7639;
    font-family: "MuseoSans-100";
  }
  .bg-3-image {
    margin-left: 24%;
    max-width: 100%;
  }
  .laptop-image {
    height: auto;
    width: 70%;
  }
  .bg-3-proj {
    margin-left: 7%;
    color: #3a7639;
    font-family: "MuseoSans-100";
  }
  .bg-4-footer {
    background-color: #222222;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "MuseoSans-100";
    font-size: 80%;
    height: 10vh;
    letter-spacing: 1pt;
  }
  .icon {
    display: inline-block;
    height: 35px;
    width: 36px;
    background-size: cover;
  }
  .icon-instagram {
    background-image: url("./images/instagram1.png");
    background-repeat: no-repeat;
    transition: 0.3s ease;
  }
  .icon-instagram:hover,
  .icon-instagram:focus {
    background-image: url("./images/instagram2.png");
  }
  .icon-linkedin {
    background-image: url("./images/linkedin1.png");
    margin-left: 20px;
    transition: 0.3s ease;
  }
  .icon-linkedin:hover,
  .icon-linkedin:focus {
    background-image: url("./images/linkedin2.png");
  }
  .icon-github {
    background-image: url("./images/github1.png");
    margin-left: 20px;
    transition: 0.3s ease;
  }
  .icon-github:hover,
  .icon-github:focus {
    background-image: url("./images/github2.png");
  }
  .button {
    background-color: #3b80fe;
    display: flex;
    justify-content: center;
    max-width: 250px;
    border-radius: 50px;
    font-family: "MuseoSans-100";
    color: white;
    letter-spacing: 1px;
    margin-top: 30px;
    transition: 0.3s;
  }
  .button:hover {
    background-color: #234ef3;
  }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  .background {
    display: flex;
    flex-direction: column;
  }
  .font-face-bg1 {
    font-family: "MuseoSans";
    font-weight: bold;
  }
  .bg-1 {
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
    padding: 70px;
  }
  .bg-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 0;
    background-color: #eef9bf;
    width: 100%;
    height: 100%;
  }
  .bg-2-number {
    margin-left: 7%;
    color: #555a3e;
    font-family: "MuseoSans-100";
  }
  .bg-2-image {
    margin-left: 35%;
    max-width: 100%;
  }
  .samsung-image {
    height: auto;
    width: 50%;
  }
  .bg-2-proj {
    margin-left: 7%;
    color: #555a3e;
    font-family: "MuseoSans-100";
  }
  .bg-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #8ef592;
    padding: 5% 0;
    width: 100%;
    height: 100%;
  }
  .bg-3-number {
    margin-left: 7%;
    color: #3a7639;
    font-family: "MuseoSans-100";
  }
  .bg-3-image {
    margin-left: 17%;
    max-width: 100%;
  }
  .laptop-image {
    height: auto;
    width: 80%;
  }
  .bg-3-proj {
    margin-left: 7%;
    color: #3a7639;
    font-family: "MuseoSans-100";
  }
  .bg-4-footer {
    background-color: #222222;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "MuseoSans-100";
    font-size: 80%;
    height: 10vh;
    letter-spacing: 1pt;
  }
  .icon {
    display: inline-block;
    height: 35px;
    width: 36px;
    background-size: cover;
  }
  .icon-instagram {
    background-image: url("./images/instagram1.png");
    background-repeat: no-repeat;
    transition: 0.3s ease;
  }
  .icon-instagram:hover,
  .icon-instagram:focus {
    background-image: url("./images/instagram2.png");
  }
  .icon-linkedin {
    background-image: url("./images/linkedin1.png");
    margin-left: 20px;
    transition: 0.3s ease;
  }
  .icon-linkedin:hover,
  .icon-linkedin:focus {
    background-image: url("./images/linkedin2.png");
  }
  .icon-github {
    background-image: url("./images/github1.png");
    margin-left: 20px;
    transition: 0.3s ease;
  }
  .icon-github:hover,
  .icon-github:focus {
    background-image: url("./images/github2.png");
  }
  .button {
    background-color: #3b80fe;
    display: flex;
    justify-content: center;
    max-width: 250px;
    border-radius: 50px;
    font-family: "MuseoSans-100";
    color: white;
    letter-spacing: 1px;
    margin-top: 30px;
    transition: 0.3s;
  }
  .button:hover {
    background-color: #234ef3;
  }
}

@media screen and (max-width: 599px) {
  .background {
    display: flex;
    flex-direction: column;
  }
  .font-face-bg1 {
    font-family: "MuseoSans";
    font-weight: bold;
  }
  .bg-1 {
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
    padding: 70px;
  }
  .bg-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 0;
    background-color: #eef9bf;
    width: 100%;
    height: 100%;
  }
  .bg-2-number {
    margin-left: 7%;
    color: #555a3e;
    font-family: "MuseoSans-100";
    font-size: 10pt;
  }
  .bg-2-image {
    margin-left: 35%;
    max-width: 100%;
  }
  .samsung-image {
    height: auto;
    width: 50%;
  }
  .bg-2-proj {
    margin-left: 7%;
    color: #555a3e;
    font-family: "MuseoSans-100";
    font-size: 10pt;
  }
  .bg-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #8ef592;
    padding: 5% 0;
    width: 100%;
    height: 100%;
  }
  .bg-3-number {
    margin-left: 7%;
    color: #3a7639;
    font-family: "MuseoSans-100";
    font-size: 10pt;
  }
  .bg-3-image {
    margin-left: 17%;
    max-width: 100%;
  }
  .laptop-image {
    height: auto;
    width: 80%;
  }
  .bg-3-proj {
    margin-left: 7%;
    color: #3a7639;
    font-family: "MuseoSans-100";
    font-size: 10pt;
  }
  .bg-4-footer {
    background-color: #222222;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "MuseoSans-100";
    font-size: 80%;
    height: 10vh;
    letter-spacing: 1pt;
  }
  .icon {
    display: inline-block;
    height: 35px;
    width: 36px;
    background-size: cover;
  }
  .icon-instagram {
    background-image: url("./images/instagram1.png");
    background-repeat: no-repeat;
    transition: 0.3s ease;
  }
  .icon-instagram:hover,
  .icon-instagram:focus {
    background-image: url("./images/instagram2.png");
  }
  .icon-linkedin {
    background-image: url("./images/linkedin1.png");
    margin-left: 20px;
    transition: 0.3s ease;
  }
  .icon-linkedin:hover,
  .icon-linkedin:focus {
    background-image: url("./images/linkedin2.png");
  }
  .icon-github {
    background-image: url("./images/github1.png");
    margin-left: 20px;
    transition: 0.3s ease;
  }
  .icon-github:hover,
  .icon-github:focus {
    background-image: url("./images/github2.png");
  }
  .button {
    background-color: #3b80fe;
    display: flex;
    justify-content: center;
    max-width: 250px;
    border-radius: 50px;
    font-family: "MuseoSans-100";
    color: white;
    letter-spacing: 1px;
    margin-top: 30px;
    transition: 0.3s;
  }
  .button:hover {
    background-color: #234ef3;
  }
}
